body {
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
  background-color: #0f0f0f;
  color: #fff; /* Text color set to white */
}

#raw-output {
  width: 100%;
  max-width: 800px;
  font-size: 20px;
  margin: 0 auto;
  padding: 50px;
  background-color: #0f0f0f;
  border: 0px solid ;
  border-radius: 0px;
  box-shadow: 0 0 0px rgba(0, 0, 0, 0.1);
  margin-top: 50px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

#raw-output pre {
  white-space: pre-wrap;
  font-size: 25px;
  line-height: 1.6;
  color: #fff; /* Text color set to white */
}
